
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

table, th, td {
    border: solid 1px black;
    border-collapse: collapse;
}

h1 {
    text-align: center;
    font-size: 75px;
    color:#795A3C;
    font-family: poppins;
    background-color: #E1C5A6;
    border-style: solid;
    border-width: 1px;
}

h2 {
    text-align: center;
}

a {
    text-decoration: none;
    font-size: 46px;
    color:#91736c;
    font-family: poppins;
    background-color:#fff6e9;
    border-color: #d3bbb6;
    border-style: solid;
    border-width: 1px;
}

a:hover {
    color:#463531
}

body {
    background: url(background.png)
}